<div class="card">
  <li>
    <h4>{{this.name}}</h4>
    <p>Price: <span>{{this.price}}</span></p>
    <p>Category: <span>{{this.category}}</span></p>

    <a href="/products/{{this.id}}">See product</a>
  </li>
</div>
