<h1>Cadastre o seu livro</h1>

<form action="/books" method="POST" class="form">
  <div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" placeholder="Digite o título" required />
  </div>

  <div class="form-control">
    <label for="pageQuantity">Número de páginas</label>
    <input type="text" name="pageQuantity" placeholder="Quantas páginas o livro tem?" />
  </div>

  <button class="button" type="submit">Cadastrar</button>
</form>
